
aiohttp @ file:///C:/b/abs_c4zmy2l696/croot/aiohttp_1670009573673/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
altair==5.2.0
anyio==3.7.1
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
asgiref==3.7.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backoff==2.2.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bcrypt==4.1.2
beautifulsoup4==4.12.2
blinker==1.7.0
blis==0.7.11
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.5.7
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
chroma-hnswlib==0.7.3
chromadb==0.4.21
click @ file:///C:/ci/click_1646056762388/work
cloudpathlib==0.16.0
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
coloredlogs==15.0.1
comm==0.2.0
confection==0.1.4
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem==2.0.8
dataclasses-json @ file:///home/conda/feedstock_root/build_artifacts/dataclasses-json_1648489389285/work
debugpy==1.8.0
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Deprecated==1.2.14
distro==1.8.0
docker-pycreds==0.4.0
docopt==0.6.2
doctran==0.0.14
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
exceptiongroup==1.2.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
faiss-cpu==1.7.4
fastapi==0.105.0
filelock==3.13.1
flatbuffers==23.5.26
frozenlist @ file:///C:/b/abs_2bb5uzghsi/croot/frozenlist_1670004511812/work
fsspec==2023.12.2
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1669279893622/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1676637751542/work
google-auth==2.25.2
google-search-results==2.4.2
googleapis-common-protos==1.62.0
gpt4all==2.0.2
greenlet @ file:///C:/b/abs_47lk_w2ajq/croot/greenlet_1670513248400/work
grpcio==1.60.0
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
hugchat==0.0.8
huggingface-hub==0.19.4
humanfriendly==10.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources==6.1.1
ipykernel==6.27.1
ipython @ file:///D:/bld/ipython_1683226233552/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2==3.1.2
joblib @ file:///C:/b/abs_e60_bwl1v6/croot/joblib_1666298845728/work
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1681432441054/work
jupyter_core @ file:///D:/bld/jupyter_core_1678994400417/work
kiwisolver @ file:///D:/bld/kiwisolver_1657953239132/work
kubernetes==28.1.0
langchain==0.0.352
langchain-community==0.0.4
langchain-core==0.1.1
langchainhub==0.1.14
langcodes==3.3.0
langsmith==0.0.71
lxml==4.9.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1668359249650/work
marshmallow-enum @ file:///home/conda/feedstock_root/build_artifacts/marshmallow-enum_1602427317752/work
matplotlib @ file:///D:/bld/matplotlib-suite_1636786730976/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
mmh3==4.0.1
monotonic==1.6
mpmath==1.3.0
multidict @ file:///C:/b/abs_6cx_8w3cv2/croot/multidict_1665674238352/work
murmurhash==1.0.10
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.2.1
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
numexpr @ file:///C:/b/abs_afm0oewmmt/croot/numexpr_1683221839116/work
numpy==1.26.2
oauthlib==3.2.2
onnxruntime==1.16.3
openai==1.6.1
openapi-schema-pydantic @ file:///home/conda/feedstock_root/build_artifacts/openapi-schema-pydantic_1681130872959/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
overrides==7.4.0
packaging==23.2
pandas @ file:///C:/b/abs_b9kefbuby2/croot/pandas_1677835593760/work
pandas-stubs @ file:///home/conda/feedstock_root/build_artifacts/pandas-stubs_1685980860749/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathtools==0.1.2
phonenumbers==8.13.27
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.1.0
pipreqs==0.4.13
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1683850015520/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1680731398751/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
posthog==3.1.0
preshed==3.0.9
presidio-analyzer==2.2.351
presidio-anonymizer==2.2.351
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
protobuf @ file:///D:/bld/protobuf_1681049992963/work/python
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pulsar-client==3.3.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycryptodome==3.19.0
pydantic==1.10.13
pydeck==0.8.1b0
pyflakes==3.1.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
pyllamacpp==2.4.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyPika==0.48.9
pyreadline3==3.4.1
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pyvim==3.0.3
pywin32==305.1
PyYAML @ file:///D:/bld/pyyaml_1648757288117/work
pyzmq @ file:///C:/b/abs_8b16zbmf46/croot/pyzmq_1682697651374/work
referencing==0.32.0
regex @ file:///C:/ci/regex_1658258299320/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.7.0
rpds-py==0.15.2
rsa==4.9
safetensors==0.4.1
scikit-learn @ file:///C:/b/abs_38k7ridbgr/croot/scikit-learn_1684954723009/work
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1682715776378/work
setproctitle @ file:///D:/bld/setproctitle_1660346737041/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.4.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy @ file:///C:/Windows/Temp/abs_f8661157-660b-49bb-a790-69ab9f3b8f7c8a8s2psb/croots/recipe/sqlalchemy_1657867864564/work
srsly==2.4.8
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.27.0
streamlit==1.29.0
stringcase==1.2.0
sympy==1.12
tenacity==8.2.3
thinc==8.2.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tiktoken==0.5.2
tldextract==5.1.1
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.0
torch==2.1.2
torchvision==0.16.2
tornado @ file:///D:/bld/tornado_1656937966227/work
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
transformers==4.36.2
typer==0.9.0
types-pytz @ file:///home/conda/feedstock_root/build_artifacts/types-pytz_1680176259362/work
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing-inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1685820062773/work
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
urllib3==1.26.18
uvicorn==0.24.0.post1
validators==0.22.0
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1686095295564/work
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.21.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
weasel==0.3.4
websocket-client==1.7.0
websockets==12.0
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wincertstore==0.2
wrapt==1.16.0
yarg==0.1.9
yarl @ file:///D:/bld/yarl_1648966692031/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
